<template>
  <dv-border-box-12 :class="{
    ['col'+col]: col,
  }">
    <h2>{{title}}</h2>
    <slot />
  </dv-border-box-12>
</template>
<script>
export default {
  props: {
    col: Number,
    title: {
      type: String,
      defultValue: '标题'
    }
  }
}
</script>
<style lang="scoped">
  
</style>