<template>
  <div class="mapContainer">
    <div id="map" ref="map"></div>
  </div>
</template>
<script>
import AMapLoader from "AMapLoader";
export default {
  methods: {
    loadMap(container){
      AMapLoader.load({
        "key": "0a016db9636b32d321132c5f9cb77c0b",              // 申请好的Web端开发者Key，首次调用 load 时必填
        "version": "2.0",   // 指定要加载的 JSAPI 的版本，缺省时默认为 1.4.15
        "plugins": [],           // 需要使用的的插件列表，如比例尺'AMap.Scale'等
        "AMapUI": {             // 是否加载 AMapUI，缺省不加载
          "version": '1.1',   // AMapUI 版本
          "plugins":['overlay/SimpleMarker'],       // 需要加载的 AMapUI ui插件
        },
        "Loca":{                // 是否加载 Loca， 缺省不加载
          "version": '2.0'  // Loca 版本
        },
      }).then((AMap)=>{
          this.map = new AMap.Map(container, {
            mapStyle: 'amap://styles/darkblue', //设置地图的显示样式
          });
          console.log(this.map);
      }).catch((e)=>{
          console.error(e);  //加载错误提示
      }); 
    }
  },
  mounted() {
    this.loadMap(this.$refs.map)
  },
  beforeDestroy() {
    this.map && this.map.destroy();
  }
}
</script>
<style>
  .mapContainer {

  }

  #map {
    height: 500px;
  }
</style>