<template>
  <dv-full-screen-container>
    <dv-loading v-if="isLoading">Loading...</dv-loading>
    <div v-else class="content">
      <div class="col-3">
        <block-view title="【网赌网炒风险分析】">
        </block-view>
      </div>
      <div class="col-6">
        <MapView />
        <block-view title="【社会泄密风险分析】">
        </block-view>
      </div>
      <div class="col-3">
        <block-view title="【网播风险分析】">
        </block-view>
        <block-view title="【设备安全性风险分析】">
        </block-view>
        <block-view title="【舆论/心理风险分析】">
        </block-view>
      </div>
    </div>
  </dv-full-screen-container>
</template>

<script>
import BlockView from "@/components/blockView"
import MapView from "@/components/mapView"
export default {
  data(){
    return {
      isLoading: true
    }
  },
  components: {
    BlockView,
    MapView
  },
  mounted() {
    this.init();
  },
  methods: {
    async init(){
      // 发接口请求
      this.isLoading = false;
    }
  }
}
</script>

<style>
body, html {
  margin: 0;
}
#dv-full-screen-container {
  background: rgb(3, 4, 71);
  color: #fff;
}
.content {
  display: flex;
}
.dv-border-box-12 {
  box-sizing: border-box;
}
.dv-border-box-12.col-1, .col-1 {
  width: 8.33%;
}
.dv-border-box-12.col-2, .col-2 {
  width: 16.66%;
}
.dv-border-box-12.col-3, .col-3 {
  width: 25%;
}
.dv-border-box-12.col-4, .col-4 {
  width: 33.33%;
}
.dv-border-box-12.col-5, .col-5 {
  width: 41.66%;
}
.dv-border-box-12.col-6, .col-6 {
  width: 50%;
}
.dv-border-box-12.col-7, .col-7 {
  width: 58.33%;
}
.dv-border-box-12.col-8, .col-8 {
  width: 66.66%;
}
.dv-border-box-12.col-9, .col-9 {
  width: 66.66%;
}
.dv-border-box-12.col-10, .col-10 {
  width: 83.33%;
}
.dv-border-box-12.col-11, .col-11 {
  width: 91.66%;
}
.dv-border-box-12.col-12, .col-12 {
  width: 100%;
}
</style>
